.App-header,
.App-body {
  padding: 0 40px;
}
.App-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #000000;
  padding: 20px 40px 0;
  height: 36px;
  color: white;
}

.App-header h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0;
}
.App-body {
  padding-top: 56px;
}
p {
  color: #B0BBBF;
  max-width: 640px;
  line-height: 1.44;
}
p strong {
  color: white;
}
.Bugs {
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.Bugs,
.Datasets,
.Charts,
.Calculations {
  background: #22252A;
  padding: 16px 24px 24px;
  border-radius: 3px;
  margin-bottom: 32px;
}
.Charts {
  background: none;
  max-width: 640px;
  padding-bottom: 8px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.Chart-body {
  height: 100px;
  width: 80%;
  position: relative;
}
.Chart-body > div {
  position: absolute;
  bottom: 0;
  width: calc(100% / 4 - 1px);
  min-height: 100%;
  background: rgba(255,255,255,0.05);
}
.Chart-body > div > div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Chart-chart-1 { left: calc(0% + 1px); }
.Chart-chart-2 { left: calc(25% + 1px); }
.Chart-chart-3 { left: calc(50% + 1px); }
.Chart-chart-4 { left: calc(75% + 1px); }
.Chart-body div.basic-non-adjusted { background: #A9E4EF; }
.Chart-body div.basic-adjusted { background: #5398BE; }
.Chart-body div.basic-customer-roi { background: #373F51; }
.Chart-body div.advanced-non-adjusted { background: #F2CD5D; }
.Chart-body div.advanced-adjusted { background: #DEA54B; }
.Chart-body div.advanced-customer-roi { background: #6D3D14; }
.Datasets,
.Calculations {
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.Calculations {
  margin-bottom: 48px;
}
.Metric-box strong {
  font-size: 24px;
  font-weight: 900;
  display: block;
  margin-bottom: 4px;
}
.Metric-box strong small {
  font-size: 14px;
  vertical-align: super;
  margin: 0 2px;
}
.Metric-box span {
  display: block;
  font-size: 12px;
  color: #B0BBBF;
}
.Metric-box span > span {
  display: inline;
  color: white;
  font-weight: bold;
}
.Metric-box span.explainer {
  margin-top: 6px;
  color: #676F76;
}
.Metric-box span.explainer strong {
  font-size: 12px;
  font-weight: bold;
  color: #B0BBBF;
  display: inline;
  margin: 0;
}

.Metric-box span.dot {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: white;
}
.Metric-box span.BNAROI { background: #A9E4EF; }
.Metric-box span.BAROI { background: #5398BE; }
.Metric-box span.BCROI { background: #373F51; }
.Metric-box span.ANAROI { background: #F2CD5D; }
.Metric-box span.AAROI { background: #DEA54B; }
.Metric-box span.ACROI { background: #6D3D14; }


.App-header.prompt-header {
  padding-left: 0;
}
.prompt-header > div {
  max-width: 1280px;
  margin: 0 auto;
}
.App-header button {
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 3px 8px;
  cursor: pointer;
}
.prompt {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 40px;
}
.characters > div {
  width: 100%;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.cards {
  width: 100%;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.characters img {
  filter: grayscale(100%);
}

.bio-text span {
  color: #909B9F;
}

.bio-text h4 span {
  font-weight: 400;
  display: inline-block;
  margin-left: 8px;
  background: #474f56;
  font-size: 12px;
  color: white;
  padding: 1px 5px 0;
  border-radius: 2px;
}

.bio {
  display: flex;
  align-items: flex-start;
}
.bio-text {
  margin-left: 16px;
}
.bio-text h4 {
  margin: 0 0 8px;
  font-weight: 900;
}
img.reversed {
  transform: rotate(180deg)
}


.App-sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: scroll;
  padding-top: 56px;
  padding: 56px 0 40px 40px;
}
.App-main {
  position: fixed;
  width: calc(100vw - 320px);
  right: 0;
  top: 0;
  padding-top: 56px;
}
span.outcome-label {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #e1ad01;
  color: black;
  display: inline-block;
  padding: 1px 6px;
  margin-left: 4px;
}
span.outcome-label.actionable {
  background: #1479FB;
  color: white;
}

.App-sidebar span {
  display: block;
  font-size: 12px;
  opacity: 0.5
}
.App-sidebar small {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  margin-top: -16px;
  margin-bottom: 24px;
}
.App-sidebar input {
  width: 160px;
  -webkit-appearance: none;
  background: rgba(255,255,255,0.1);
  height: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  margin-bottom: 24px;
  padding: 2px 0;
}
.Bugs.actionable-results {
  padding: 32px 24px 40px;
}
.Datasets.actionable-results {
  padding: 16px 24px 24px;
  background: rgba(255,255,255,0.05);
}
.actionable-results h4 {
  margin: 0 0 12px;
}
.glossary-title {
  color: white !important;
  margin-bottom: 4px;
  font-weight: bold;
}

.test-data-output {
  color: white;
}
.test-data-output span,
.test-data-output img {
  display: block;
}
.test-data-output span.glossary-title,
.test-data-output img {
  margin-bottom: 16px;
}
